

<section class="ml-5 mr-5 mt-5">
	<div class="row justify-content-start mt-4" >
		<div class="col-3">
		  <img src="{{content.imagepath}}" class="rounded" alt="Cinque Terre" class="img-responsive">
		</div>
		<div class="col-2.5 ml-5">
		  <div class="mt-0">
		    <h1>{{content.name}}</h1>
		  	<b>India</b>
		  </div>
		  <hr class="w-100 mx-auto">
		  <h3>Personal Information</h3>
		  <h6>Birth Place: {{content.birthplace}}</h6>
		  <h6>Country: India</h6>
		  <h6>Batting Style: Right Handed Bat</h6>
		  <h6>ODI centuries: {{content.ODICenturies}}</h6>
		  <h6>Test Centuries: {{content.TestCenturies}}</h6>
		  
		  <div class="mt-2 center">
		  	<a href="/vote/{{content._id}}" class="btn btn-danger mt-2" role="button">Vote</a>
		  </div>
		  <div>

		  </div>

		</div>
		

	</div>
</section>
<div class="row justify-content-center">
	
</div>